@{
    ViewBag.Title = "Contáctenos";
}

<div class="col-lg-12">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                @ViewBag.Title.
                <small>@ViewBag.Message</small>
            </h4>
        </div>
        <div class="box-body">
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
        </div>
        <div class="box-footer">
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>





